* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(217, 255, 250);
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #26A7BB;
    top: 0;
    position: sticky;
}

#nav{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
}

  
nav ul li{
    list-style-type: none;
    margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: #FFFFFF;
    
    
}

nav ul li a:hover {
    background-color: coral;
    border-radius: 30px;
    transition: 0.2s;
  }

#encabezado{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 50px;
    color: rgb(78, 18, 78);
}

h2{
    font-size: 28px;
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: purple;
}

* {
    box-sizing: border-box;
  }

  /* ---------------- ACA EMPIEZAN LOS ESTILOS DE PRODUCTOS --------------------- */
  
    .container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-teal {
    background-color: #47bcd4;
  }
  .tag-purple {
    background-color: #5e76bf;
  }
  .tag-pink {
    background-color: #cd5b9f;
  }
  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  .user {
    display: flex;
    margin-top: auto;
  }
  
  .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .user-info h5 {
    margin: 0;
  }
  .user-info small {
    color: #545d7a;
  }
  
  /* ACA EMPIEZAN LOS ESTILOS DE SERVICIOS--------------------------------------------*/

  .container1 {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container1 .card1 {
    position: relative;
    border-radius: 10px;
}

.container1 .card1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container1 .card1:nth-child(1) .icon {
    background: #e07768;
}

.container1 .card1:nth-child(2) .icon {
    background: #6eadd4;
}

.container1 .card1:nth-child(3) .icon {
    background: #4aada9;
}


.container1 .card1 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container1 .card1 .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container1 .card1 .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container1 .card1:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container1 .card1 .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container1 .card1:hover .face.face1 .content {
    opacity: 1;
}

.container1 .card1 .face.face1 .content i{
    max-width: 100px;
}

.container1 .card1 .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container1 .card1:hover .face.face2{
    transform: translateY(0);
}

.container1 .card1 .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container1 .card1 .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container1 a {
    text-decoration: none;
    color: #414141;
}
 

/* ------ ACA EMPIEZAN LOS CLIENTES ------- */



.container4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container4 .box {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 4rem;
  }
  
  .container4 .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
  }
  
  .container4 .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
  }
  
  .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  
  .imgBox img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  
  .content h2 {
    display: block;
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  
  .content span {
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
/*--------------FOOTER-------------*/

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;   
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-primero{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgb(20, 155, 137);
}
.footer-primero h3{
    font-size: 1rem;
    font-weight: 800;
    line-height: 1rem;
}
.footer-primero h4{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
    font-weight: 500;
}
.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0 1rem 0;
}
.redes li{
    margin: 0 10px;
}
.redes a{
    text-decoration: none;
    color: #fff;
}

.redes img {
    width: 30px;
}

.footer-ultimo{
    background: #26A7BB;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-ultimo p{
    font-size: 14px;
    word-spacing: 2px;
}

  @media (max-width: 600px) {
    .container4 .box:hover .content {
      transform: translate(0, 3.5rem);
    }
    .container4 .box:hover .imgBox {
      transform: translate(0, -3.5rem);
    }
  }
